:host{
    background: rgb(12, 17, 17);
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    p{
        position: absolute;
        color: rgb(255 255 255 / 5%);
        font-weight: bold;
        font-size: 6em;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        line-height: 0;
    }
    canvas{
        // z-index: 1;
        position: absolute;
    }
}