:host{
    background: rgb(12, 17, 17);
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .container, .wrapper{
        height: 100vh;
        position: relative;
    }
    p{
        position: absolute;
        color: rgb(255 255 255 / 15%);
        font-weight: bold;
        font-size: 6em;
        bottom: 10%;
        left: 3%;
        z-index: 1;
        line-height: 0.8em;
        max-width: 200px;
        width: 100%;
        margin: 0;
    }
    canvas{
        position: absolute;
        top: 0;
    }

    .typing-text {
        font-family: 'Courier New', Courier, monospace;
    }
    
}