:host{
    background: rgb(12, 17, 17);
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .container, .wrapper{
        height: 100vh;
        position: relative;
    }
    p{
        position: absolute;
        color: rgb(255 255 255 / 15%);
        font-weight: bold;
        font-size: 6em;
        bottom: 10%;
        left: 3%;
        z-index: 1;
        line-height: 0.8em;
        max-width: 200px;
        width: 100%;
        margin: 0;
    }
    canvas{
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .typing-text {
        font-family: 'Courier New', Courier, monospace;
    }
    app-starfield{
        width: 100%;
        display: block;
        height: 100%;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    .decorative-circle{
        width: 75%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        img{
            opacity: 0.3;
            filter: blur(150px);
            transform: rotate(-20deg);
        }
    }
}