:host{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: block;
    overflow-x: hidden;
    header{
        width: 100%;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        z-index:5;
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        *{
            user-select: none;
        }
        p-button ::ng-deep {
            button{
                color: var(--surface-400);
                border: none;
                background: transparent;
                transition: var(--transition-3);
                pointer-events: none;
                &:enabled:focus {
                    box-shadow: none;
                }
                &:hover{
                    opacity: var(--opacity-7);
                }
                .pi{
                    font-size: 20px;
                }
            }
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                margin: 0 20px;
                padding: 10px;
                color: var(--surface-400);
                transition: var(--transition-3);
                &:hover{
                    opacity: var(--opacity-7);
                }
            }
        }
        .icon-home{
            font-size: 20px;
        }
    }
    .page-wrapper{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .play-btn{
        bottom:10px;
        right: 10px;
        position: fixed;
        opacity: 0.5;
        z-index: 3;
        ::ng-deep {
            button{
                color: var(--surface-400);
                border: none;
                background: transparent;
                transition: var(--transition-3);
                pointer-events: none;
                &:enabled:focus {
                    box-shadow: none;
                }
                &:hover{
                    opacity: var(--opacity-7);
                }
                .pi{
                    font-size: 20px;
                }
            }
        }
    }
}